body{
  text-align: center;
}

.col{
  border: 2px solid;
  padding: 0;
}

.row{
  width: 30rem;
  height: 10rem;
  text-align: center;
  margin: auto;
}

.container{
  margin: 8% auto;
  text-align: center;
}

.left-border{
  border-left: 0;
}

.right-border{
  border-right: 0;
}

.add-x-image{
  background-image: url('images/x.png');
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
}

.add-o-image{
  background-image: url('images/o.png');
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
}

.x-image{
  background-image: url('images/x.png');
  background-repeat: no-repeat;
  background-position: center;
}

.o-image{
  background-image: url('images/o.png');
  background-repeat: no-repeat;
  background-position: center;
}

.winner-text{
  color: #fff;
  font-size: 6rem;
  width: 50%;
  position: absolute;
  text-align: center;
  left: 24rem;
  top: 13rem;
}

.btn{
  position: absolute;
  right: 44.3rem;
  bottom: 20rem;
  font-size: 30px;
}

.style{
  background-color: rgba(0, 0, 0, 0.8);
}
